<h1>
<pre>
CIDR Notation		Host Formula			Available Hosts
/8			232^8 - 2		16,777,214
/9			232^9 - 2		8,388,606
/10			232^10 - 2		4,194,302
/11			232^11 - 2		2,097,150
/12			232^12 - 2		1,048,574
/13			232^13 - 2		524,286
/14			232^14 - 2		262,142
/15			232^15 - 2		131,070
/16			232^16 - 2		65,534
/17			232^17 - 2		32,766
/18			232^18 - 2		16,382
/19			232^19 - 2		8,190
/20			232^20 - 2		4,094
/21			232^21 - 2		2,046
/22			232^22 - 2		1,022
/23			232^23 - 2		510
/24			232^24 - 2		254
/25			232^25 - 2		126
/26			232^26 - 2		62
/27			232^27 - 2		30
/28			232^28 - 2		14
/29			232^29 - 2		6
/30			232^30 - 2		2
</pre>
</h1>
